

.contact-us-section {
  &__info {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    color: #4F4F4F;
    text-align: center;
  }
  &__contacts {
    margin-top: 2rem;
    p {
      text-align: center;
      color: #1B94D9;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

