.contact-us-section__info {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  color: #4F4F4F;
  text-align: center; }

.contact-us-section__contacts {
  margin-top: 2rem; }
  .contact-us-section__contacts p {
    text-align: center;
    color: #1B94D9;
    font-size: 2rem;
    font-weight: 700; }
