.header-section {
  height: 100vh;
  margin-top: -7rem;
  position: relative;
  max-width: 100%;
  overflow: hidden; }
  .header-section .neco {
    position: absolute; }
  .header-section__background {
    height: calc(100% + 7rem);
    width: 100%;
    position: absolute; }
  .header-section__content {
    height: inherit;
    padding: 10rem 0 3rem;
    width: 100%;
    position: absolute;
    height: calc(100%); }
    .header-section__content .header-container {
      height: 100%;
      display: flex;
      flex-direction: column; }
      .header-section__content .header-container .first-row {
        display: flex;
        justify-content: flex-end; }
        .header-section__content .header-container .first-row .first-block {
          flex: 0;
          color: white;
          background: rgba(0, 0, 0, 0.6);
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
          .header-section__content .header-container .first-row .first-block .motto-title {
            margin: 0 0 3rem;
            font-size: 5rem;
            line-height: 5rem;
            flex: 1; }
          .header-section__content .header-container .first-row .first-block .motto-text {
            font-size: 2.2rem;
            text-align: right; }
      .header-section__content .header-container .second-row {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex: 1; }
        .header-section__content .header-container .second-row .second-block {
          color: white;
          background: rgba(0, 0, 0, 0.6);
          padding: 2rem;
          display: flex;
          flex-direction: column;
          margin-top: 4rem;
          align-items: flex-start;
          max-width: 50rem; }
          .header-section__content .header-container .second-row .second-block h2 {
            margin: 0 0 3rem;
            font-size: 2.5rem;
            line-height: 2.5rem; }
          .header-section__content .header-container .second-row .second-block ul {
            padding-left: 2.1rem; }
            .header-section__content .header-container .second-row .second-block ul li {
              font-size: 2rem; }
        .header-section__content .header-container .second-row__buttons {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex; }

@media (min-width: 768px) {
  .header-section__content {
    padding: 17rem 0 10rem; }
    .header-section__content .header-container .first-row {
      flex: 1;
      align-items: center; }
    .header-section__content .header-container .second-row {
      flex-direction: row; }
      .header-section__content .header-container .second-row .second-block {
        align-self: center;
        margin-top: 0; } }

@media (min-width: 1250px) {
  .header-section__background {
    width: 100%; } }
