

.header-section {
  height: 100vh;
  margin-top: -7rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  .neco {
    position: absolute;
  }
  &__background {
    height: calc(100% + 7rem);
    width: 100%;
    //display:block;
    position: absolute;
  }
  &__content {
    height: inherit;
    padding: 10rem 0 3rem;
    width: 100%;
    position: absolute;
    height: calc(100%);

    .header-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .first-row {
        display: flex;
        justify-content: flex-end;
        .first-block {
          flex: 0;
          color: white;
          background: rgba($color: #000, $alpha: .6);
          // border-radius: 5px;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .motto-title {
            //align-self: flex-end;
            margin: 0 0 3rem;
            font-size: 5rem;
            line-height: 5rem;
            flex: 1;
          }
          .motto-text {
            font-size: 2.2rem;
            text-align: right;
          }
        }
      }
      .second-row {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex: 1;
        .second-block {
          color: white;
          background: rgba($color: #000, $alpha: .6);
          // border-radius: 5px;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          margin-top: 4rem;
          align-items: flex-start;
          max-width: 50rem;
          h2 {
            margin: 0 0 3rem;
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
          ul {
            padding-left: 2.1rem;
            li {
              font-size: 2rem;
            }
          }
        }
        &__buttons {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }
  }
}
@media(min-width: 768px) {
.header-section {

  &__background {

  }
  &__content {
    padding: 17rem 0 10rem;

    .header-container {

      .first-row {
        flex: 1;
        align-items: center;

        .first-block {

          .motto-title {

          }
          .motto-text {

          }
        }
      }
      .second-row {
        flex-direction: row;
        .second-block {
          align-self: center;
          margin-top: 0;
          h2 {
          }
          ul {
            li {
            }
          }
        }
        &__buttons {
        }
      }
    }
  }
}

}

@media(min-width: 1250px) {
  .header-section {
    &__background {
      width: 100%
    }
  }
}