.interview {
  text-align: center; }
  .interview__image img {
    max-width: 100%;
    border-radius: 5px; }
  .interview__name {
    font-size: 2.5rem;
    margin: 2rem auto; }
  .interview__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }

.interviews-section {
  display: flex;
  flex-direction: column; }
  .interviews-section__interviews {
    padding: 2rem 2rem 5rem;
    border: 2px solid #1B94D9; }
  .interviews-section__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
