
.interview {
  text-align: center;
  &__image {
    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
  &__name {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  &__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.interviews-section {
  display: flex;
  flex-direction: column;
  &__interviews {
    padding: 2rem 2rem 5rem;
    border: 2px solid #1B94D9;
  }
  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
