

.partners-section {
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 5rem 0;
    color: #4F4F4F;
  }
}

