.partners-section__buttons {
  display: flex;
  justify-content: center; }

.partners-section__text {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 5rem 0;
  color: #4F4F4F; }
