@import 'variables.scss';
@import 'mixins/grid-framework.scss';
@import 'mixins/grid.scss';

.container {
  @include container-fixed;

  @media (min-width: 768px) {
    width: $container-sm;
  }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }
}


.container-fluid {
  @include container-fixed;
}


.row {
  @include make-row;
}


@include make-grid-columns;


@include make-grid(xs);


@media (min-width: black) {
  @include make-grid(sm);
}

@media (min-width: 992px) {
  @include make-grid(md);
}

@media (min-width: 1200px) {
  @include make-grid(lg);
}
