$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     black !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
$container-tablet:          (720px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;
$container-desktop:         (940px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;
$container-large-desktop:   (1140px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;
