.about-page {
  background-color: white;
  margin-bottom: 5rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
  font-size: 2rem; }
  .about-page__about {
    padding-bottom: 2rem;
    margin-top: 9rem; }
  .about-page__logo {
    text-align: center;
    margin: 10rem auto; }
    .about-page__logo img {
      max-width: 100%;
      width: 20rem; }

@media (min-width: 768px) {
  .about-page__about {
    padding: 0 5rem; } }
