


.article-page-wrapper {
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  background-color: #999797;
  .name {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem;
  }
  .description {
    font-size: 2rem;
    text-align: justify;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bgImage {
    display: block;
  }
  .youtube {
    height: 65rem;
    width: 100%;
  }
  &__header {
    height: 80rem;
    overflow: hidden;
    width: 100%;
  }
  &__main {
    margin-top: -55rem;
    display: flex;
    flex-direction: column;

    &__content {
      z-index: 1;
      .article-info {
        height: 70rem;
        background-size: cover;
        background-repeat: none;
        position: relative;
        // &__content {
        //   height: 70rem;
        //   width: 80%;
        //   background: seagreen;
        // }
        &__type {
          position: absolute;
          top: 1.5rem;
          left: 1.5rem;
        }
        &__date {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1.5rem;
          border-radius: 0 0 0 20px;
          font-size: 1.8rem;
          font-weight: 900;
          background: rgba($color: #000, $alpha: .6);
          color: #1B94D9;
        }
        &__author-author-type {
          position: absolute;
          bottom: 0;
          right: 0;
          background: rgba($color: #000, $alpha: .6);
          padding: 1.5rem;
          border-radius: 20px 0 0 0;
          color: #1B94D9;
          text-align: right;
          .author {
            font-weight: 800;
            font-size: 2.4rem;
          }
          .author-type {
            margin-top: 1rem;
            font-weight: 500;
            font-size: 2rem;
          }
        }
        &__origin {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1.5rem;
          color: white;
          font-size: 2rem;
          font-weight: 500;
        }

      }
    }
  }
}

.article-detail-page {
  background-color: white;
  margin-bottom: 5rem;
  padding-bottom: 10rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
  &__video {
    margin: 2rem 0;
  }
  //&__
}

@media(max-width: 767px) {
  .description {
    padding-left: 0;
    padding-right: 0;
  }
  .article-page-wrapper {
    .bgImage {
      display: none;
    }
    &__main {
      margin-top: -73rem;
      &__content {
        .article-info {
          height: 50rem;
        }
      }
    }
  }
  .youtube {
    max-height: 50rem;
  }
}

@media(max-width: 400px) {
  .article-page-wrapper {
    .youtube {
      max-height: 30rem;
    }
  }
}

@media(max-width: 600px) {
  .article-page-wrapper {
    .youtube {
      max-height: 40rem;
    }
  }
}
@media(min-width: 768px) {
  .description {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}