.articles-page {
  background-color: white;
  margin-bottom: 5rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25); }
  .articles-page__articles {
    padding-bottom: 2rem;
    margin-top: 9rem; }
