.article-page-wrapper {
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  background-color: #999797; }
  .article-page-wrapper .name {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem; }
  .article-page-wrapper .description {
    font-size: 2rem;
    text-align: justify;
    padding-bottom: 5rem;
    padding-top: 5rem; }
  .article-page-wrapper .buttons {
    display: flex;
    justify-content: center;
    align-items: center; }
  .article-page-wrapper .bgImage {
    display: block; }
  .article-page-wrapper .youtube {
    height: 65rem;
    width: 100%; }
  .article-page-wrapper__header {
    height: 80rem;
    overflow: hidden;
    width: 100%; }
  .article-page-wrapper__main {
    margin-top: -55rem;
    display: flex;
    flex-direction: column; }
    .article-page-wrapper__main__content {
      z-index: 1; }
      .article-page-wrapper__main__content .article-info {
        height: 70rem;
        background-size: cover;
        background-repeat: none;
        position: relative; }
        .article-page-wrapper__main__content .article-info__type {
          position: absolute;
          top: 1.5rem;
          left: 1.5rem; }
        .article-page-wrapper__main__content .article-info__date {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1.5rem;
          border-radius: 0 0 0 20px;
          font-size: 1.8rem;
          font-weight: 900;
          background: rgba(0, 0, 0, 0.6);
          color: #1B94D9; }
        .article-page-wrapper__main__content .article-info__author-author-type {
          position: absolute;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.6);
          padding: 1.5rem;
          border-radius: 20px 0 0 0;
          color: #1B94D9;
          text-align: right; }
          .article-page-wrapper__main__content .article-info__author-author-type .author {
            font-weight: 800;
            font-size: 2.4rem; }
          .article-page-wrapper__main__content .article-info__author-author-type .author-type {
            margin-top: 1rem;
            font-weight: 500;
            font-size: 2rem; }
        .article-page-wrapper__main__content .article-info__origin {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1.5rem;
          color: white;
          font-size: 2rem;
          font-weight: 500; }

.article-detail-page {
  background-color: white;
  margin-bottom: 5rem;
  padding-bottom: 10rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25); }
  .article-detail-page__video {
    margin: 2rem 0; }

@media (max-width: 767px) {
  .description {
    padding-left: 0;
    padding-right: 0; }
  .article-page-wrapper .bgImage {
    display: none; }
  .article-page-wrapper__main {
    margin-top: -73rem; }
    .article-page-wrapper__main__content .article-info {
      height: 50rem; }
  .youtube {
    max-height: 50rem; } }

@media (max-width: 400px) {
  .article-page-wrapper .youtube {
    max-height: 30rem; } }

@media (max-width: 600px) {
  .article-page-wrapper .youtube {
    max-height: 40rem; } }

@media (min-width: 768px) {
  .description {
    padding-left: 10rem;
    padding-right: 10rem; } }
