.information-page {
  background-color: white;
  margin-bottom: 5rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25); }
  .information-page__menu {
    margin: 9rem auto;
    display: flex;
    justify-content: center;
    font-size: 1.1rem; }
    .information-page__menu .tab-button {
      position: relative;
      padding: 1.4rem 0.7rem;
      border-radius: 5px 5px 0 0;
      border: 1px solid transparent;
      transition: 0.25s;
      font-weight: 600;
      cursor: pointer; }
      .information-page__menu .tab-button::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #1B94D9;
        width: calc(100% + 4px); }
      .information-page__menu .tab-button--active {
        border-color: #1B94D9;
        border-bottom-color: white;
        color: #1B94D9; }
        .information-page__menu .tab-button--active::after {
          content: '';
          position: absolute;
          bottom: -1px;
          border-bottom: 1px solid white; }
      .information-page__menu .tab-button:hover {
        color: #1B94D9; }
  .information-page__tabs {
    padding-bottom: 2rem;
    margin-top: 5rem; }
    .information-page__tabs .tab {
      font-size: 1.6rem; }
      .information-page__tabs .tab__title {
        color: #1B94D9; }
      .information-page__tabs .tab__subtitle {
        color: #1B94D9;
        color: #2F2F2F; }
      .information-page__tabs .tab__abstract {
        color: #1B94D9; }
      .information-page__tabs .tab__author {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem; }
        .information-page__tabs .tab__author h4 {
          flex: 1; }
        .information-page__tabs .tab__author img {
          max-width: 100%;
          width: 20rem;
          display: block; }
      .information-page__tabs .tab p {
        text-align: justify; }
      .information-page__tabs .tab h4 {
        color: #2F2F2F;
        font-size: 2rem;
        margin: 1rem auto; }
      .information-page__tabs .tab a {
        color: #1B94D9; }
        .information-page__tabs .tab a:hover {
          text-decoration: underline; }

@media (min-width: 768px) {
  .information-page__tabs {
    padding: 0 10rem 2rem; }
  .information-page__menu {
    font-size: 1.6rem;
    max-width: 70%; }
    .information-page__menu .tab-button {
      padding: 1rem 2rem; } }
