


.information-page {
  background-color: white;
  margin-bottom: 5rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
  &__menu {
    margin: 9rem auto;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    .tab-button {
      position: relative;
      padding: 1.4rem 0.7rem;
      border-radius: 5px 5px 0 0;
      border: 1px solid transparent;
      //border-bottom: 1px solid #1B94D9;
      transition: 0.25s;
      font-weight: 600;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #1B94D9;
        width: calc(100% + 4px);
      }
      &--active {
        border-color: #1B94D9;
        border-bottom-color: white;
        color: #1B94D9;
        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          border-bottom: 1px solid white;
        }
      }
      &:hover {
        color: #1B94D9;
      }
    }
  }
  &__tabs {
    padding-bottom: 2rem;
    margin-top: 5rem;
    .tab {
      font-size: 1.6rem;
      &__title {
        color: #1B94D9;
      }
      &__subtitle {
        color: #1B94D9;
        color: #2F2F2F
      }
      &__abstract {
        color: #1B94D9;
      }
      &__author {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        h4 {
          flex: 1;
        }
        img {
          max-width: 100%;
          width: 20rem;
          display: block;
        }
      }
      p {
        text-align: justify;
      }
      h4 {
        color: #2F2F2F;
        font-size: 2rem;
        margin: 1rem auto;
      }
      a {
        color: #1B94D9;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .information-page {
    &__tabs {
      padding: 0 10rem 2rem;
    }
    &__menu {
      font-size: 1.6rem;
      max-width: 70%;
      .tab-button {
        padding: 1rem 2rem;
      }
    }
  }
}
