.not-found-page {
  min-height: calc(100vh - 29rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .not-found-page .four-zero-four {
    margin: 10rem auto 5rem;
    color: #1B94D9;
    font-size: 10rem;
    font-weight: 600; }
  .not-found-page .not-found-text {
    text-align: center;
    padding: 0 5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem; }
