.page-wrapper {
  background-color: #999797;
  margin-top: -7rem;
  display: flex;
  flex-direction: column; }
  .page-wrapper .page-header {
    height: 50rem;
    max-height: 50rem;
    width: 100%;
    overflow: hidden; }
    .page-wrapper .page-header img {
      width: 100%;
      min-height: 50rem; }
  .page-wrapper .page-main {
    margin-top: -32rem;
    display: flex;
    flex-direction: column; }
    .page-wrapper .page-main__title {
      text-align: center;
      width: 80%;
      max-width: 80rem;
      margin: auto auto -4rem;
      padding: 1.5rem 0;
      background: white;
      box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 4rem 0;
      z-index: 1; }
      .page-wrapper .page-main__title h1 {
        font-size: 4.8rem;
        margin: 0 auto;
        color: #1B94D9;
        font-weight: 700; }
    .page-wrapper .page-main__children {
      min-height: calc(100vh - 50rem); }
