.workshops-page {
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25); }
  .workshops-page__workshops {
    padding-bottom: 2rem;
    margin-top: 9rem; }
    .workshops-page__workshops .workshop {
      padding: 2rem;
      border: 2px solid #1B94D9; }
      .workshops-page__workshops .workshop__title {
        margin-bottom: 6rem; }
        .workshops-page__workshops .workshop__title h2 {
          position: relative;
          text-align: center;
          font-size: 3.6rem;
          margin: 0; }
          .workshops-page__workshops .workshop__title h2::before {
            content: '';
            width: 23rem;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: -2.2rem;
            border: 1px solid #1B94D9; }
      .workshops-page__workshops .workshop__date {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem; }
      .workshops-page__workshops .workshop__description {
        font-size: 1.8rem; }
  .workshops-page__form {
    margin: 3rem 0; }

@media (min-width: 768px) {
  .workshops-page__workshops .workshop {
    margin: 0 2rem;
    padding: 5rem; }
    .workshops-page__workshops .workshop__description {
      padding: 0 3rem; } }
