


.workshops-page {
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
  &__workshops {
    padding-bottom: 2rem;
    margin-top: 9rem;
    .workshop {
      padding: 2rem;
      border: 2px solid #1B94D9;
      &__title {
        margin-bottom: 6rem;
        h2 {
          position: relative;
          text-align: center;
          font-size: 3.6rem;
          margin: 0;
          &::before {
            content: '';
            width: 23rem;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: -2.2rem;
            border: 1px solid #1B94D9;
          }
        }
      }
      &__date {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem;
      }
      &__description {
        font-size: 1.8rem;
      }
    }
  }
  &__form {
    margin: 3rem 0;
  }

}

@media (min-width: 768px) {
  .workshops-page {
    &__workshops {
      .workshop {
        margin: 0 2rem;
        padding: 5rem;
        &__description {
          padding: 0 3rem;
        }
      }
    }
  }
}