* {
  box-sizing: border-box; }

.activelink a {
  position: relative; }
  .activelink a:before {
    transition: all .3s;
    content: '';
    width: 2rem !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 1.8rem;
    border: 1px solid #1B94D9 !important; }

html {
  tap-highlight-color: transparent;
  text-size-adjust: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 8px;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F2F2F2; }

a {
  transition: .3s; }
  a, a:active, a:hover, a:link, a:visited {
    color: black;
    text-decoration: none; }
  a[name] {
    position: relative;
    top: -14rem; }

.svg path,
.svg rect {
  stroke-width: 0; }

.app,
.app-container {
  min-height: 100%;
  background-color: #F2F2F2; }

.app-container {
  padding-top: 7rem; }

.app-loader {
  display: none; }

.app {
  color: black;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  overflow: hidden; }
  .app h1, .app h2, .app h3, .app h4 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8rem; }
  .app img {
    max-width: 100%; }
  .app .button {
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-align: center;
    min-width: 16rem;
    letter-spacing: .2rem;
    line-height: 3.8rem;
    border: 1px solid #1B94D9;
    background-color: #1B94D9;
    color: white;
    transition: .3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    padding: 0 1rem; }
    .app .button--transparent-orange {
      background-color: transparent;
      border: 1px solid #1B94D9;
      color: #1B94D9; }
    .app .button--transparent-white {
      background-color: transparent;
      border: 1px solid white; }
    .app .button:hover {
      color: #1B94D9;
      background-color: white; }
  .app input,
  .app textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none; }

.page {
  background-color: #FBFBFB; }

.form-buttons {
  margin-top: 3rem; }
  .form-buttons button {
    margin-left: 0 !important; }

.form__error {
  background-color: transparent;
  color: darkred;
  margin-top: 1rem;
  border: 1px solid darkred;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem; }

@media (min-width: 768px) {
  .app h1, .app h2, .app h3, .app h4 {
    font-size: 3.6rem; } }

@media (min-width: 992px) {
  body,
  html {
    font-size: 9px; } }

@media (min-width: 1200px) {
  body,
  html {
    font-size: 10px; } }
