

* {
  box-sizing: border-box;
}

.activelink {
  a {
    position: relative;
    &:before {
      transition: all .3s;
      content: '';
      width: 2rem !important;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 1.8rem;
      border: 1px solid #1B94D9 !important;
    }
  }
}

html {
  tap-highlight-color: transparent;
  text-size-adjust: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 8px;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F2F2F2;
}

////links
a {
  transition: .3s;

  &,
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }

  &[name] {
    position: relative;
    top: -14rem;
  }
}

//svg
.svg {
  path,
  rect {
    stroke-width: 0;
  }
}

.app,
.app-container {
  min-height: 100%;
  background-color: #F2F2F2;
}

.app-container {
  padding-top: 7rem;
}

.app-loader {
  display: none;
}

.app {
  color: black;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  overflow: hidden;

  h1, h2, h3, h4 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8rem;
  }

  img {
    max-width: 100%;
  }

  .button {
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-align: center;
    min-width: 16rem;
    letter-spacing: .2rem;
    line-height: 3.8rem;
    border: 1px solid #1B94D9;
    background-color: #1B94D9;
    color: white;
    transition: .3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    padding: 0 1rem;

    &--transparent-orange {
      background-color: transparent;
      border: 1px solid #1B94D9;
      color: #1B94D9;
    }

    &--transparent-white {
      background-color: transparent;
      border: 1px solid white;
    }

    &:hover {
      color: #1B94D9;
      background-color: white;
    }
  }

  input,
  textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.page {
  background-color: #FBFBFB;
}

.form-buttons {
  margin-top: 3rem;
  button {
    margin-left: 0 !important;
  }
}

.form__error {
  background-color: transparent;
  color: darkred;
  margin-top: 1rem;
  border: 1px solid darkred;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem
}

@media (min-width: 768px) {
  .app {
    h1, h2, h3, h4 {
      font-size: 3.6rem;
    }
  }
}

// over 992px
@media (min-width: 992px) {
  body,
  html {
    font-size: 9px;
  }
}

// over 1200px
@media (min-width: 1200px) {
  body,
  html {
    font-size: 10px;
  }
}
