

@mixin page {
  background-color: #f2f2f2;
}

@mixin button {
  background-color: white;
  cursor: pointer;
  color: #1B94D9;
  border: .2rem solid #1B94D9;
  border-radius: 5rem;
  padding: 1.2rem 0 .8rem;
  margin-top: 3rem;
  outline: none;
  min-width: 20rem;
  font-size: 1.8rem;
  transition: .1s ease-in-out;

  &:hover {
    background-color: #1B94D9;
    color: white;
  }
}
