
.article-type {
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  &--article {
    background-color: #2F80ED;
  }
  &--news {
    background-color: #219653;
  }
  &--interview {
    background-color: #EB5757;
  }
}


