.ellipsis, .article-item-wrapper .article-item__content .title-date__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.article-item-wrapper {
  background-color: transparent;
  width: 100%;
  margin-bottom: 2rem; }
  .article-item-wrapper .article-item {
    border-radius: 5px;
    background-color: white;
    position: relative;
    margin: auto;
    max-width: 30rem;
    display: inline-block;
    box-shadow: 1px 5px 5px 2px #e0e0e0;
    display: flex;
    flex-direction: column;
    max-height: 32rem; }
    .article-item-wrapper .article-item__image {
      width: 100%; }
      .article-item-wrapper .article-item__image img {
        width: 100%;
        max-height: 14rem;
        border-radius: 5px 5px 0 0; }
    .article-item-wrapper .article-item__content {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex: 1;
      padding: 1rem 1.5rem 1rem 2rem; }
      .article-item-wrapper .article-item__content .title-date {
        display: flex; }
        .article-item-wrapper .article-item__content .title-date__title {
          font-weight: 700;
          flex: 1;
          font-size: 1.8rem;
          line-height: 2.1rem; }
        .article-item-wrapper .article-item__content .title-date__date {
          color: #1B94D9;
          margin-left: 0.5rem;
          line-height: 0.6; }
      .article-item-wrapper .article-item__content .description-art {
        flex: 1;
        line-height: 1.7;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        overflow: hidden;
        font-size: 1.2rem;
        position: relative;
        max-height: 8rem; }
        .article-item-wrapper .article-item__content .description-art::after {
          content: "";
          display: block;
          width: 10rem;
          height: 2.3rem;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), #fff);
          position: absolute;
          bottom: 0;
          right: 0; }
      .article-item-wrapper .article-item__content .tag-link {
        display: flex; }
        .article-item-wrapper .article-item__content .tag-link .link {
          flex: 1;
          display: flex;
          justify-content: flex-end; }
          .article-item-wrapper .article-item__content .tag-link .link a {
            color: #1B94D9;
            font-weight: 600;
            padding: 0.3rem 0.7rem;
            border-radius: 5px;
            transition: 0.2s; }
            .article-item-wrapper .article-item__content .tag-link .link a:hover {
              font-weight: 900;
              transform: scale(1.2); }

@media (min-width: 500px) {
  .article-item-wrapper .article-item {
    border-radius: 5px;
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 1024px;
    display: inline-block;
    box-shadow: 1px 3px 13px 3px #e0e0e0;
    display: flex;
    flex-direction: row;
    max-height: 14rem; }
    .article-item-wrapper .article-item__image {
      width: 20rem;
      height: 14rem;
      min-width: 20rem;
      max-width: 20rem; }
      .article-item-wrapper .article-item__image img {
        width: 100%;
        height: 100%;
        border-radius: 5px 0 0 5px; }
    .article-item-wrapper .article-item__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 1rem 1.5rem 1rem 2rem; }
      .article-item-wrapper .article-item__content .description-art {
        margin-top: 1rem; }
      .article-item-wrapper .article-item__content .title-date {
        display: flex; }
        .article-item-wrapper .article-item__content .title-date__title {
          font-weight: 700;
          flex: 1;
          font-size: 1.8rem;
          line-height: 2.1rem; }
        .article-item-wrapper .article-item__content .title-date__date {
          color: #1B94D9; } }
