

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-item-wrapper {
  background-color: transparent;
  width: 100%;
  margin-bottom: 2rem;

  .article-item {
    border-radius: 5px;
    background-color: white;
    position: relative;
    margin: auto;
    max-width: 30rem;
    display: inline-block;
    box-shadow: 1px 5px 5px 2px rgba(224,224,224,1);
    display: flex;
    flex-direction: column;
    max-height: 32rem;

    &__image {
      width: 100%;
      img {
        width: 100%;
        max-height: 14rem;
        border-radius: 5px 5px 0 0;
      }
    }
    &__content {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex: 1;
      padding: 1rem 1.5rem 1rem 2rem;

      .title-date {
        display: flex;
        &__title {
          font-weight: 700;
          flex: 1;
          font-size: 1.8rem;
          line-height: 2.1rem;
          @extend .ellipsis;
        }
        &__date {
          color: #1B94D9;
          margin-left: 0.5rem;
          line-height: 0.6;
        }
      }
      .description-art {
        // @extend .ellipsis;
        flex: 1;
        line-height: 1.7;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        overflow: hidden;
        font-size: 1.2rem;
        position: relative;
        max-height: 8rem;
        &::after {
          content: "";
          display: block;
          width: 10rem;
          height: 2.3rem;
          background: linear-gradient(90deg, hsla(0, 0%, 100%, .01), #fff);
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .tag-link {
        display: flex;
        .link {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          a {
            color: #1B94D9;
            font-weight: 600;
            padding: 0.3rem 0.7rem;
            border-radius: 5px;
            transition: 0.2s;
            &:hover {
              font-weight: 900;
              transform: scale(1.2)
            }
          }
        }
      }
    }
  }
}

@media(min-width: 500px) {
  .article-item-wrapper {
    .article-item {
      border-radius: 5px;
      background-color: white;
      position: relative;
      width: 100%;
      max-width: 1024px;
      display: inline-block;
      box-shadow: 1px 3px 13px 3px rgba(224, 224, 224, 1);
      display: flex;
      flex-direction: row;
      max-height: 14rem;
      &__image {
        width: 20rem;
        height: 14rem;
        min-width: 20rem;
        max-width: 20rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px 0 0 5px;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem 1.5rem 1rem 2rem;
        .description-art {
          margin-top: 1rem;
        }
        .title-date {
          display: flex;
          &__title {
            font-weight: 700;
            flex: 1;
            font-size: 1.8rem;
            line-height: 2.1rem;
          }
          &__date {
            color: #1B94D9;
          }
        }
      }
    }
  }
}
