

.button {
  padding: 0.8rem 1.1rem !important;
  margin: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #1B94D9;
  border-radius: 5px;
  outline: 0;
  transition: 0.25s;
  font-size: 1.8rem;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
  &--orange {
    background-color: #1B94D9;
    span {
      color: white;
    }
    &:hover {
      background-color: rgba($color: #fff, $alpha: .6);
      span {
        color: #1B94D9;
      }
    }
  }
  &--white {
    background-color: rgba($color: #fff, $alpha: .6) !important;
    border-color: white !important;
    span {
      color: white;
    }
    &:hover {
      background-color: rgba($color: #1B94D9, $alpha: .6) !important;
    }
  }
  &--inverted {
    background-color: white !important;
    span {
      color: #1B94D9;
    }
    &:hover {
      background-color: #1B94D9 !important;
      span {
        color: white;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.07rem;
  }
}
