.button {
  padding: 0.8rem 1.1rem !important;
  margin: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #1B94D9;
  border-radius: 5px;
  outline: 0;
  transition: 0.25s;
  font-size: 1.8rem;
  font-weight: 600; }
  .button:hover {
    cursor: pointer; }
  .button--orange {
    background-color: #1B94D9; }
    .button--orange span {
      color: white; }
    .button--orange:hover {
      background-color: rgba(255, 255, 255, 0.6); }
      .button--orange:hover span {
        color: #1B94D9; }
  .button--white {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-color: white !important; }
    .button--white span {
      color: white; }
    .button--white:hover {
      background-color: rgba(27, 148, 217, 0.6) !important; }
  .button--inverted {
    background-color: white !important; }
    .button--inverted span {
      color: #1B94D9; }
    .button--inverted:hover {
      background-color: #1B94D9 !important; }
      .button--inverted:hover span {
        color: white; }
  .button__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.07rem; }
