.required::after {
  content: '*';
  color: red;
  font-size: 1.8rem; }

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-us-form .form-item {
    width: 100%;
    max-width: 70rem;
    margin-bottom: 1.5rem; }
    .contact-us-form .form-item__label {
      font-size: 1.8rem;
      color: #4F4F4F; }
    .contact-us-form .form-item__field {
      width: 100%; }
      .contact-us-form .form-item__field input, .contact-us-form .form-item__field textarea {
        width: 100%;
        border: 1px solid #4F4F4F;
        padding: 1.5rem;
        max-width: 100%;
        min-width: 100%; }
