


.required {
  &::after {
    content: '*';
    color: red;
    font-size: 1.8rem;
  }
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-item {
    width: 100%;
    max-width: 70rem;
    margin-bottom: 1.5rem;
    &__label {
      font-size: 1.8rem;
      color: #4F4F4F
    }

    &__field {
      width: 100%;
      input, textarea {
        width: 100%;
        border: 1px solid #4F4F4F;
        padding: 1.5rem;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}

