



.cookies-info {
  color: white;
  display: none;
  background: black;
  position: fixed;
  bottom: 0;
  opacity: .9;
  z-index: 1000;
  width: 100%;

  &.show {
    display: block;
  }

  .content {
    padding: 2rem 1rem;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;

    a {
      color: white;
    }
  }


  button {
    color: white;
    background-color: #1B94D9;
    display: inline-block;
    padding: .5rem 2rem;
    font-weight: 600;
    cursor: pointer;
    border: solid .2rem white;
    border-radius: 5px;
    margin: 0 2rem;
    transition: 0.2;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
