



.page-footer {
  background-color: #828282; //#1B94D9;

  &__content {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    padding: 5rem 2rem 0;
    flex-direction: column;
    position: relative;
    .up-button {
      position: absolute;
      top: 0;
      right: 1rem;
      transform: translateY(-50%);
      background: #1B94D9;
      padding: 1.5rem;
      cursor: pointer;
      img {
        transition: 0.2s;
        transform: rotate(-90deg);
      }
      &:hover {
        img {
          transform: scale(1.4) rotate(-90deg);
        }
      }
    }
    .contact, .logo-copyright, .social-author {
      flex: 1;
    }
    .contact {
      order: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      &__title {
        text-align: center;
        //text-decoration: underline;
        flex: 0;
        font-weight: 700;
        font-size: 2.2rem;
      }
      p {
        text-align: center;
        margin-bottom: 0;
        font-size: 2rem;
      }
    }
    .logo-copyright {
      order: 3;
      color: white;
      padding: 1.5rem;
      a {
        color: white;
        text-decoration: underline;
      }
      img {
        max-width: 15rem;
      }
    }
    .social-author {
      order: 2;
      display: flex;
      flex-direction: column;
      .social {
        flex: 1;
        &__title {
          text-align: center;
          //text-decoration: underline;
          flex: 1;
          font-weight: 700;
          font-size: 1.8rem;
        }
        &__icons {
          text-align: center;
          margin-top: 2rem;
          svg {
            width: 6rem;
            background: transparent;
            fill: white;
            border-radius: 50%;
            transition: 0.2s;
            &:hover {
              fill: #1B94D9;
              transform: scale(1.2);
              background: white
            }
          }
        }
      }
      .author {
        display: none;
        font-size: 0.7rem;
        p {
          text-align: right;
        }
      }
    }
    .author-2 {
      order: 4;
    }
  }
}

@media (min-width: 768px) {
  .page-footer {
    &__content {
      text-align: center;
      justify-content: center;
      padding: 5rem 0 0;
      flex-direction: row;
      .up-button {
        right: 0;
      }
      .contact {
        order: 1;
        margin: 0;
        &__title {
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
      .logo-copyright {
        order: 2;
      }
      .social-author {
        order: 3;
        .author {
          display: block;
        }
      }
      .author-2 {
        display: none;
      }
    }
  }
}
