.page-footer {
  background-color: #828282; }
  .page-footer__content {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    padding: 5rem 2rem 0;
    flex-direction: column;
    position: relative; }
    .page-footer__content .up-button {
      position: absolute;
      top: 0;
      right: 1rem;
      transform: translateY(-50%);
      background: #1B94D9;
      padding: 1.5rem;
      cursor: pointer; }
      .page-footer__content .up-button img {
        transition: 0.2s;
        transform: rotate(-90deg); }
      .page-footer__content .up-button:hover img {
        transform: scale(1.4) rotate(-90deg); }
    .page-footer__content .contact, .page-footer__content .logo-copyright, .page-footer__content .social-author {
      flex: 1; }
    .page-footer__content .contact {
      order: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
      .page-footer__content .contact__title {
        text-align: center;
        flex: 0;
        font-weight: 700;
        font-size: 2.2rem; }
      .page-footer__content .contact p {
        text-align: center;
        margin-bottom: 0;
        font-size: 2rem; }
    .page-footer__content .logo-copyright {
      order: 3;
      color: white;
      padding: 1.5rem; }
      .page-footer__content .logo-copyright a {
        color: white;
        text-decoration: underline; }
      .page-footer__content .logo-copyright img {
        max-width: 15rem; }
    .page-footer__content .social-author {
      order: 2;
      display: flex;
      flex-direction: column; }
      .page-footer__content .social-author .social {
        flex: 1; }
        .page-footer__content .social-author .social__title {
          text-align: center;
          flex: 1;
          font-weight: 700;
          font-size: 1.8rem; }
        .page-footer__content .social-author .social__icons {
          text-align: center;
          margin-top: 2rem; }
          .page-footer__content .social-author .social__icons svg {
            width: 6rem;
            background: transparent;
            fill: white;
            border-radius: 50%;
            transition: 0.2s; }
            .page-footer__content .social-author .social__icons svg:hover {
              fill: #1B94D9;
              transform: scale(1.2);
              background: white; }
      .page-footer__content .social-author .author {
        display: none;
        font-size: 0.7rem; }
        .page-footer__content .social-author .author p {
          text-align: right; }
    .page-footer__content .author-2 {
      order: 4; }

@media (min-width: 768px) {
  .page-footer__content {
    text-align: center;
    justify-content: center;
    padding: 5rem 0 0;
    flex-direction: row; }
    .page-footer__content .up-button {
      right: 0; }
    .page-footer__content .contact {
      order: 1;
      margin: 0; }
      .page-footer__content .contact__title {
        text-align: left; }
      .page-footer__content .contact p {
        text-align: left; }
    .page-footer__content .logo-copyright {
      order: 2; }
    .page-footer__content .social-author {
      order: 3; }
      .page-footer__content .social-author .author {
        display: block; }
    .page-footer__content .author-2 {
      display: none; } }
