


.header {
  position: absolute;
  width: 100%;
  height: 7rem;
  z-index: 20;
  font-family: 'Open Sans';
  top: 0;
  overflow: hidden;
  background-color: rgba($color: #000, $alpha: .75);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  .container {
    position: relative;
  }

  .logo {
    display: inline-block;
  }

  & > div > div a {
    display: inline-block;
    height: 3rem;
    width: auto;
    margin: 2rem 0 2rem 1rem;
    transition: 0s;
  }

  img {
    display: inline-block;
    position: relative;
    z-index: 20;
    height: 100%;
    transition: 0.2s;
    &:hover {
      opacity: 0.6;
    }
  }

  nav {
    position: relative;
    z-index: 20;
    margin-top: 3rem;

    div {
      text-align: center;
      //border-top: 2px solid white;
    }

    .anchor {
      display: block;
    }

    a {
      display: inline-block;
      font-size: 3rem;
      font-weight: 500;
      line-height: 7.2rem;
      margin: 2rem 0;

      &.call-to-action {
        border-radius: 5rem;
        background-color: black;
        font-size: 2rem;
        line-height: 2.3rem;
        vertical-align: bottom;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2.2rem 3rem 1.8rem;
        margin: 4rem 0;
      }
    }
    .facebook {
      margin: 0 0 0 2rem;
      width: 6rem;
      height: 7rem;
      padding: 1rem;
      cursor: pointer;
      svg {
        fill: white;
        border-radius: 50%;
        transition: 0.2s;
        &:hover {
          fill: #1B94D9;
          background: white;
          transform: scale(1.1)
        }
      }
    }
  }

  .toggle {
    background: none;
    outline: 0;
    border: 0;
    position: absolute;
    width: 3.1rem;
    right: 3rem;
    top: 2.5rem;
    height: 2.6rem;
    margin: 0;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #1B94D9;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);

      &:nth-child(1) {
        top: 0;
        transition: .25s ease-in-out;
      }

      &:nth-child(2) {
        top: 6.7px;
        transition: 0s;
      }

      &:nth-child(3) {
        top: 14.2px;
        transition: .25s ease-in-out;

      }
    }
  }

  &.scrolled {
    position: fixed;
    height: 6rem;
    top: -15rem;

    & > div > div a {
      margin: 1.5rem 0 1.5rem 1rem;
      transition-delay: 0s;
    }
    transition: .3s ease-in-out 0s;

    .toggle {
      top: 2rem;
      transition-delay: 0s;
    }
  }

  &.show {
    top: 0;
  }

  &.open {
    height: 100%;
    overflow: auto;
    top: 0;

    transition: background-color .5s ease-in-out 0s, height .5s ease-in-out 0s;

    nav {

      // .selection {
      //   border: 0;
      //
      //   .lang {
      //     border: 0;
      //   }
      // }

      div {
        border-bottom: 2px solid #1B94D9;
        margin: 2rem 0;
        background: rgba($color: #000, $alpha: .35);
        a {
          margin: 1rem 0;
          width: 100%;
          color: white;
        }
        .active {
          color: #1B94D9;
        }
      }
    }

    .toggle {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transition: 0s !important;
        }

        &:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

// over 768px
@media (min-width: 768px) {
  .header {
    height: 7rem;
    overflow: visible;

    .anchor:not(:first-of-type) {
      margin-left: 0 !important;
    }

    // .translations {
    //   .lang {
    //     display: block;
    //     margin: 1.3rem 0 0 1rem;
    //     font-size: inherit;
    //   }
    //
    //   &:hover {
    //     .selection {
    //       visibility: visible;
    //       height: auto;
    //       opacity: 1;
    //     }
    //   }
    //
    //   .selection {
    //     visibility: hidden;
    //     opacity: 0;
    //
    //     .lang {
    //       display: block;
    //       padding: 0 .3rem;
    //
    //       &:not(first-child) {
    //         margin-right: 0;
    //       }
    //     }
    //   }
    // }

    .container {
      position: relative;
    }

    & > div > div a {
      height: 3rem;
      margin: 2rem 0;
    }

    img {
      position: relative;
      z-index: 20;
      transition-delay: 0s!important;
    }

    &.open {
      height: auto;
      background-color: transparent;
    }

    nav {
      position: absolute;
      top: 0;
      right: 1.5rem;
      margin: 0;
      transition: .5s ease-in-out;
      transition-delay: 0s!important;

      div, .anchor {
        display: inline-block;
        border: 0;
        vertical-align: top;

        a {
          line-height: 7rem;
          position: relative;
          width: auto;
          font-size: 1.7rem;
          margin: 0 0 0 2rem;
          transition: all .2s ease-in-out;
          color: white;

          &:before {
            transition: all .3s;
            content: '';
            width: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 1.8rem;
            border: 1px solid transparent;
          }

          &:hover {
            &:before {
              border-color: #1B94D9;
              width: 3.9rem;
            }
          }

          &.active {
            color: #1B94D9;

            &:before {
              width: 1.5rem;
              border-color: #1B94D9;
            }

            &:hover {
              &:before {
                width: 3.9rem;
              }
            }
          }
        }
      }
    }
    &.scrolled {
      height: 7rem;

      & > div > div a {
        margin: 2.2rem 0;
      }
    }
    .toggle {
      display: none;
    }
  }
}
