.header {
  position: absolute;
  width: 100%;
  height: 7rem;
  z-index: 20;
  font-family: 'Open Sans';
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  .header .container {
    position: relative; }
  .header .logo {
    display: inline-block; }
  .header > div > div a {
    display: inline-block;
    height: 3rem;
    width: auto;
    margin: 2rem 0 2rem 1rem;
    transition: 0s; }
  .header img {
    display: inline-block;
    position: relative;
    z-index: 20;
    height: 100%;
    transition: 0.2s; }
    .header img:hover {
      opacity: 0.6; }
  .header nav {
    position: relative;
    z-index: 20;
    margin-top: 3rem; }
    .header nav div {
      text-align: center; }
    .header nav .anchor {
      display: block; }
    .header nav a {
      display: inline-block;
      font-size: 3rem;
      font-weight: 500;
      line-height: 7.2rem;
      margin: 2rem 0; }
      .header nav a.call-to-action {
        border-radius: 5rem;
        background-color: black;
        font-size: 2rem;
        line-height: 2.3rem;
        vertical-align: bottom;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2.2rem 3rem 1.8rem;
        margin: 4rem 0; }
    .header nav .facebook {
      margin: 0 0 0 2rem;
      width: 6rem;
      height: 7rem;
      padding: 1rem;
      cursor: pointer; }
      .header nav .facebook svg {
        fill: white;
        border-radius: 50%;
        transition: 0.2s; }
        .header nav .facebook svg:hover {
          fill: #1B94D9;
          background: white;
          transform: scale(1.1); }
  .header .toggle {
    background: none;
    outline: 0;
    border: 0;
    position: absolute;
    width: 3.1rem;
    right: 3rem;
    top: 2.5rem;
    height: 2.6rem;
    margin: 0;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1; }
    .header .toggle span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #1B94D9;
      opacity: 1;
      left: 0;
      transform: rotate(0deg); }
      .header .toggle span:nth-child(1) {
        top: 0;
        transition: .25s ease-in-out; }
      .header .toggle span:nth-child(2) {
        top: 6.7px;
        transition: 0s; }
      .header .toggle span:nth-child(3) {
        top: 14.2px;
        transition: .25s ease-in-out; }
  .header.scrolled {
    position: fixed;
    height: 6rem;
    top: -15rem;
    transition: .3s ease-in-out 0s; }
    .header.scrolled > div > div a {
      margin: 1.5rem 0 1.5rem 1rem;
      transition-delay: 0s; }
    .header.scrolled .toggle {
      top: 2rem;
      transition-delay: 0s; }
  .header.show {
    top: 0; }
  .header.open {
    height: 100%;
    overflow: auto;
    top: 0;
    transition: background-color .5s ease-in-out 0s, height .5s ease-in-out 0s; }
    .header.open nav div {
      border-bottom: 2px solid #1B94D9;
      margin: 2rem 0;
      background: rgba(0, 0, 0, 0.35); }
      .header.open nav div a {
        margin: 1rem 0;
        width: 100%;
        color: white; }
      .header.open nav div .active {
        color: #1B94D9; }
    .header.open .toggle span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg); }
    .header.open .toggle span:nth-child(2) {
      opacity: 0;
      transition: 0s !important; }
    .header.open .toggle span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg); }

@media (min-width: 768px) {
  .header {
    height: 7rem;
    overflow: visible; }
    .header .anchor:not(:first-of-type) {
      margin-left: 0 !important; }
    .header .container {
      position: relative; }
    .header > div > div a {
      height: 3rem;
      margin: 2rem 0; }
    .header img {
      position: relative;
      z-index: 20;
      transition-delay: 0s !important; }
    .header.open {
      height: auto;
      background-color: transparent; }
    .header nav {
      position: absolute;
      top: 0;
      right: 1.5rem;
      margin: 0;
      transition: .5s ease-in-out;
      transition-delay: 0s !important; }
      .header nav div, .header nav .anchor {
        display: inline-block;
        border: 0;
        vertical-align: top; }
        .header nav div a, .header nav .anchor a {
          line-height: 7rem;
          position: relative;
          width: auto;
          font-size: 1.7rem;
          margin: 0 0 0 2rem;
          transition: all .2s ease-in-out;
          color: white; }
          .header nav div a:before, .header nav .anchor a:before {
            transition: all .3s;
            content: '';
            width: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 1.8rem;
            border: 1px solid transparent; }
          .header nav div a:hover:before, .header nav .anchor a:hover:before {
            border-color: #1B94D9;
            width: 3.9rem; }
          .header nav div a.active, .header nav .anchor a.active {
            color: #1B94D9; }
            .header nav div a.active:before, .header nav .anchor a.active:before {
              width: 1.5rem;
              border-color: #1B94D9; }
            .header nav div a.active:hover:before, .header nav .anchor a.active:hover:before {
              width: 3.9rem; }
    .header.scrolled {
      height: 7rem; }
      .header.scrolled > div > div a {
        margin: 2.2rem 0; }
    .header .toggle {
      display: none; } }
