.info-item-wrapper {
  background-color: transparent;
  width: 100%;
  margin-bottom: 3rem; }
  .info-item-wrapper .info-item {
    position: relative;
    max-width: 38rem;
    margin: auto;
    box-shadow: 1px 5px 5px 2px #e0e0e0;
    max-height: 41rem;
    width: 100%;
    border-radius: 5px; }
    .info-item-wrapper .info-item:hover .info-item__description {
      height: 33rem;
      background-color: rgba(255, 255, 255, 0.8); }
    .info-item-wrapper .info-item__image {
      max-height: 33rem;
      border-radius: 5px 5px 0 0;
      height: 33rem;
      overflow: hidden; }
      .info-item-wrapper .info-item__image img {
        border-radius: inherit;
        width: 100%;
        height: 33rem;
        max-width: 38rem;
        max-height: 33rem; }
    .info-item-wrapper .info-item__description {
      position: absolute;
      bottom: 8rem;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      display: flex;
      flex-direction: column; }
      .info-item-wrapper .info-item__description .description {
        color: black;
        flex: 1;
        padding: 2rem;
        font-size: 2.4rem;
        text-align: center; }
      .info-item-wrapper .info-item__description .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem; }
    .info-item-wrapper .info-item__title {
      height: 8rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 20px 20px; }
      .info-item-wrapper .info-item__title h2 {
        color: #1B94D9;
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        padding: 0 0.5rem; }

@media (min-width: 768px) {
  .info-item-wrapper {
    display: flex;
    margin: 3rem;
    flex-basis: 38rem; } }
