.partner-item-wrapper {
  background-color: transparent;
  width: 100%;
  margin-bottom: 3rem; }
  .partner-item-wrapper .partner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
    background: white;
    box-shadow: 1px 5px 5px 2px #e0e0e0;
    border-radius: 5px; }
    .partner-item-wrapper .partner-item__image {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .partner-item-wrapper .partner-item__image img {
        width: 100%;
        margin-bottom: 2rem; }
    .partner-item-wrapper .partner-item__description .description {
      color: black;
      flex: 1;
      padding: 1rem 1.5rem;
      font-size: 1.4rem; }
    .partner-item-wrapper .partner-item__description .type__title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold; }

@media (min-width: black) {
  .partner-item-wrapper .partner-item {
    flex-direction: row; }
    .partner-item-wrapper .partner-item__description .type__title {
      padding-left: 1.5rem;
      text-align: left; } }
