.section-title {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 4rem; }
  .section-title h2 {
    position: relative;
    margin: 3rem auto 4rem;
    font-size: 3.6rem;
    letter-spacing: 0.18rem;
    color: #1B94D9;
    font-weight: 500; }
    .section-title h2:after {
      content: '';
      width: 23rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: 4.8rem;
      border: 1px solid #1B94D9; }
