.section {
  padding-bottom: 3rem; }
  .section--white {
    background-color: white; }
  .section--grey {
    background-color: #F2F2F2; }
  .section .secondary-title {
    color: #1B94D9;
    font-size: 2.4rem;
    text-align: center;
    margin: 0rem auto 4rem;
    padding-top: 4rem; }
