



.section {
  padding-bottom: 3rem;
  &--white {
    background-color: white;
  }
  &--grey {
    background-color: #F2F2F2;
  }
  .secondary-title {
    color: #1B94D9;
    font-size: 2.4rem;
    text-align: center;
    margin: 0rem auto 4rem;
    padding-top: 4rem;
  }
  // &__content {
  //  max-width: 300px;
  //  margin: auto;
  // }
}

// @media(min-width: black) {
//   .section {
//     &__content {
//       max-width: 80%;
//     }
//   }
// }

// @media(min-width: $screen-lg-min) {
//   .section {
//     &__content {
//       max-width: 1024px;
//     }
//   }
// }

// @media(min-width: $screen-lg-min) {
//   .section {
//     &__content {
//       max-width: 1200px;
//     }
//   }
// }
